.git
.gitignore
.gitattributes
.env
.env.example
.editorconfig
.phpunit.result.cache

node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

phpunit.xml
README.md
insomnia.json

docker/Dockerfile
compose.coolify.yaml
